# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environment
# =========================
venv/
env/
.venv/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Jupyter (if used later)
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Data files (important)
# =========================
*.csv
*.xlsx
*.parquet
*.json

# keep dataset if needed
# !preprocessed_data.csv

# =========================
# Logs
# =========================
*.log

# =========================
# Models / outputs
# =========================
*.pkl
*.joblib

# =========================
# Matplotlib cache
# =========================
.matplotlib/